import { IComponentClass, IAsset } from './core/types'
import * as PIXI from "pixi.js"


export class Component<TComponentConfig, TComponents> implements IComponent<TComponentConfig, TComponents> {
  actor: IActor<TComponents>
  world?: IWorld<TComponents>
  config: TComponentConfig

  constructor(actor: IActor<TComponents>, config: TComponentConfig) {
    this.actor = actor
    this.loaded = false
    this.wasAddedToWorld = false
    this.config = config
  }

  loaded: boolean
  wasAddedToWorld: boolean

  shouldBeInWorld = (): boolean => {
    return this.world && this.loaded
  }

  dispatchAddRemoveIfNeeded = () => {
    if (!this.wasAddedToWorld && this.shouldBeInWorld()) {
      this.wasAddedToWorld = true
      this.addToWorldPartTwo()
    } else if (this.wasAddedToWorld && !this.shouldBeInWorld()) {
      this.wasAddedToWorld = false
      this.removeFromWorldPartTwo()
    }
  }

  addToWorldPartTwo = () => {
    console.log("SHOLDNO BE HERE")
  }
  removeFromWorldPartTwo = () => {}

  setWorld = (world: IWorld<TComponents>) => {
    this.world = world
    this.dispatchAddRemoveIfNeeded()
  }

  setLoaded = (isLoaded: boolean) => {
    this.loaded = isLoaded
    this.dispatchAddRemoveIfNeeded()
  }

  tick = (elapsedTime: number) => {}
}


{% for component in components %}
{{ component.body }}
{
 const _: IComponentClass<{{ component.config }}, IComponents, {{ component.className }}> = {{ component.className }}
}
{% endfor %}


export interface IConfig {
{% for component in components %}
{{ component.name }}?: {{ component.config }}
{% endfor %}
}

export interface IComponents {
{% for component in components %}
{{ component.name }}?: {{ component.className }}
{% endfor %}
}

const componentClasses = {
{% for component in components %}
{{ component.name }}: {{ component.className }},
{% endfor %}
}



// Concrete classes using definitions
import { ActorFactory } from './core/actors'
import { World, IWorldConfig } from './core/world'
import { IActor, IWorld, IComponent } from './core/types'

export class Actor implements IActor<IComponents> {
  uuid: string
  components: IComponents

  static defaults: {}

  constructor(uuid: string) {
    this.uuid = uuid
    this.components = {}
  }
}

export const factory = new ActorFactory<IComponents>(componentClasses)
export const makeWorld = (worldConfig: IWorldConfig): World<IComponents> => {
  return new World<IComponents>(worldConfig, factory)
}


