import { IComponentClass, IAsset } from './core/types'
import * as PIXI from "pixi.js"
import * as R from 'ramda'
import { LensFunction } from './core/types'
import { Physics } from './physics'
import { IVector2d, IBounds, IRay, add2dMut } from './util/math'
import { CAMERA } from './util'

// TODO: this shouldn't be in core
import { ForceType, Force } from './physics'


export class Component<TComponentState, TPhysics, TComponents> implements IComponent<TComponentState, TPhysics, TComponents> {
  actor: IActor<TComponents>
  world?: IWorld<TPhysics, TComponents>
  state: TComponentState

  constructor(actor: IActor<TComponents>, state: TComponentState) {
    this.actor = actor
    this.loaded = false
    this.wasAddedToWorld = false
    this.state = state
  }

  loaded: boolean
  wasAddedToWorld: boolean

  shouldBeInWorld = (): boolean => {
    return this.world && this.loaded
  }

  dispatchAddRemoveIfNeeded = (previousWorld: IWorld<TPhysics, TComponents>) => {
    if (!this.wasAddedToWorld && this.shouldBeInWorld()) {
      this.wasAddedToWorld = true
      this.addToWorldPartTwo()
    } else if (this.wasAddedToWorld && !this.shouldBeInWorld()) {
      this.wasAddedToWorld = false
      const tempWorld = this.world
      // Set to previous world temporarily to allow detatching
      this.world = previousWorld
      this.removeFromWorldPartTwo()
      this.world = tempWorld
    }
  }

  addToWorldPartTwo = () => {
  }
  removeFromWorldPartTwo = () => {}

  setWorld = (world: IWorld<TPhysics, TComponents>) => {
    const previousWorld = this.world
    this.world = world
    this.dispatchAddRemoveIfNeeded(previousWorld)
  }

  setLoaded = (isLoaded: boolean) => {
    this.loaded = isLoaded
    this.dispatchAddRemoveIfNeeded(this.world)
  }

  tick = (elapsedTime: number) => {}

  getState = (): TComponentState => {
    return this.state
  }
}


{% for component in components %}
{{ component.body }}
{
 const _: IComponentClass<{{ component.state }}, Physics, IComponents, {{ component.className }}> = {{ component.className }}
}

export const {{ component.name }}Lens = (world: IWorld<any, IComponents>): LensFunction<{{ component.className }}> => {
  return world.lens((actor: IActor<IComponents>) => {
    return actor.components.{{ component.name }}
  })
}

export const {{ component.name }}StateLens = (world: IWorld<any, IComponents>): LensFunction<{{ component.state }}> => {
  return world.lens((actor: IActor<IComponents>) => {
    return actor.components.{{ component.name }}.state
  })
}

{% endfor %}


export interface IComponentsState {
{% for component in components %}
{{ component.name }}?: {{ component.state }}
{% endfor %}
}

export interface IComponents {
{% for component in components %}
{{ component.name }}?: {{ component.className }}
{% endfor %}
}

const componentClasses = {
{% for component in components %}
{{ component.name }}: {{ component.className }},
{% endfor %}
}



// Concrete classes using definitions
import { ActorFactory } from './core/actors'
import { World } from './core/world'
import { IActor, IWorld, IComponent, IActorState } from './core/types'

export class Actor implements IActor<IComponents> {
  uuid: string
  components: IComponents

  static defaults: IComponentsState = {}

  constructor(uuid: string) {
    this.uuid = uuid
    this.components = {}
  }

  getState = <TComponentsState>(): IActorState<TComponentsState> => {
    var state = {} as TComponentsState

    R.mapObjIndexed((component, componentName) => {
      state[componentName] = component.getState()
    }, this.components)

    return {
      uuid: this.uuid,
      state: state,
    }
  }
}

export const factory = new ActorFactory<IComponents>(componentClasses)
export const makeWorld = (physics: Physics): World<Physics, IComponents> => {
  return new World<Physics, IComponents>(physics, factory)
}


